<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="Randomly"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
        tools:targetApi="31">

        <!-- LOGIN -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <!-- SIGN UP -->
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />

        <!-- ADMIN LANDING PAGE -->
        <activity
            android:name=".LandingPageActivity"
            android:exported="false" />

        <!-- USER PAGE (Answer Challenge with leaderboard) -->
        <activity
            android:name=".UserPageActivity"
            android:exported="false" />

        <!-- PROFILE PAGE -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />

        <!-- PASSWORD PAGE -->
        <activity
            android:name=".PasswordActivity"
            android:exported="false" />

        <!-- CREATE CHALLENGE PAGE (Admin side) -->
        <activity
            android:name=".CreateChallengeActivity"
            android:exported="false" />

        <!-- LEADERBOARD (RecyclerView) -->
        <activity
            android:name=".LeaderboardActivity"
            android:exported="false" />

        <!-- MAIN / LAUNCHER -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
